<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="dark">
  <div class="container">
    <header>
      <h1 class="justify">My personal page</h1>
      <nav class="column">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/info">Info</a>
        <a href="/history">History</a>
      </nav>
    </header>
  </div>

  {{{ body }}}

  <div class="container">
    <footer>
      <p class="justify">All rights reserved
      <p>
    </footer>
  </div>
</body>

</html>